.info-box {
    text-align: center;
}

.dorm-pic {
    float: left;
    margin-right: 20px;
    border-radius: 3px;
    width: 300px;
}

.dorm-desc {
    text-align: left;
}

.view-dorm, .edit-dorm {
    display: inline-block;
    margin: 20px auto 0;
    text-align: center;
    width: 80px;
    text-align: center;
}

h1.dorm-name {
    text-align: left;
    margin: 10px 0 5px;
}