#student-list {
    margin: 10px auto;
    border-collapse: collapse;
}

#student-list th, #student-list td {
    padding: 10px 15px;
}

#student-list th {
    font-weight: bold;
    text-align: left;
}

#student-list th {
    background: darkgray;
}

#student-list tr:nth-child(even) {
    background: #D1D1D1;;
}
#student-list tr:nth-child(odd) {
    background: #DFDFDF;
}

#table-tools p {
    float: left;
    margin: 0;
}


#table-tools {
    width: 815px;
    margin: 10px auto;
}
#table-tools #table-pages {
    float: right;
}

#table-tools #table-pages .pagebutton {
    display: inline-block;
    background: lightgray;
    padding: 2px 5px;
    border-radius: 3px;
    margin-top: 5px;
}