table {
    margin: 10px auto;
    width: 700px;
}

.info-box input[type=submit] {
    margin: 20px auto 0;
    display: block;
}

.info-box {
    text-align: center;
}

p#override-statement {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 50px;
}

select {
    padding: 3px;
    font-size: 16px;
}

.leftright p {
    margin-bottom: 3px;
}

#swap-icon {
    vertical-align: middle;
}