#admin-navbar {
    margin: 30px auto;
    text-align: center;
}

#admin-navbar a {
    color: inherit;
    text-decoration: inherit;
}

#admin-navbar .admin-navitem {
    display: inline-block;
    padding: 10px 20px;
    background: lightgray;
    border: 1px solid #6B6B6B;
    border-right-width: 0;
    box-shadow: 0 0 2px gray;
    font-weight: bold;
}

#admin-navbar .admin-navitem:hover {
    box-shadow: 0 0 2px gray, 0 0 10px rgba(0,0,0,0.5) inset;
}

#admin-navbar .admin-navitem.active {
    background: #6B6B6B;
    color: #F8F8F8;
}

#admin-navbar .admin-navitem:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#admin-navbar .admin-navitem:last-child {
    border-right-width: 1px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.leftright {
    display: inline-block;
    margin: 0 30px;
}