/* 
    Document   : browser-dorm-details
    Created on : Feb 28, 2013, 11:03:53 PM
    Author     : David
    Description:
        Purpose of the stylesheet follows.
*/

#dorm-details {
    margin: 50px 10px;
    text-align: center;
}

.info-module {
    padding: 20px;
    background: white;
    display: inline-block;
    margin: 15px;
    color: black;
    border-radius: 3px;
    box-shadow: 0 0 20px black, 0 0 40px rgba(0, 0, 0, 0.3) inset;
    vertical-align: top;
    text-align: center;
    position: relative;
}

.info-module h1 {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px 0;
    padding: 0;
    border-bottom: 2px solid rgb(85, 105, 207);
}

.info-module h2 {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px 0;
    padding: 0;
    text-align: left;
}

.info-module#pictures-module, .info-module#floorplan-module {
    padding-bottom: 30px;
}

.info-module#pictures-module img {
    width: 544px;
}

.info-module#floorplan-module img {
    width: 635px;
}

.info-module#dorm-description, .info-module#dorm-map, .info-module#foursquare {
    width: 384px;
    height: 440px;
}

    .info-module .inner-wrapper {
        height: 400px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .info-module#dorm-map #mapdetails {
        width: 384px;
        height: 400px;
        margin: 0;
        padding: 0;
        border-radius: 3px;
    }
    
    .info-module#dorm-description {
        font-size: 14px;
        line-height: 1.5em;
        text-align: left;
    }
    
    .no-foursquare {
        display: none;
        padding: 10px;
        padding-top: 30px;
        text-align: center;
    }
    .no-foursquare h2 {
        text-align: center;
        margin-top: 10px;
    }
    .no-foursquare a {
        color: #5656EE !important;
    }
    .no-foursquare img {
        width: 60px;
        border-radius: 5px;
        margin: auto;
        display: block;
        box-shadow: 0 0 10px gray;
    }
    
/* Sliders */
#pictures-module ol.bjqs-markers li a {
    width: 10px !important;
    margin: 10px 4px;
    height: 10px;
    background: gray;
    border-radius: 5px;
    box-shadow: inset -1px 1px 2px #535353;
}

#pictures-module ol.bjqs-markers li.active-marker a {
    background: #353594;
}

#floorplan-module ol.bjqs-markers li a {
    padding: 3px 10px;
    background: gray;
    color: white;
    font-size: 11px;
    border: 1px solid black;
    border-left-width: 0;
    text-decoration: none;
    margin-bottom: 3px;
    font-weight: bold;
    margin-top: 5px;
}

#floorplan-module ol.bjqs-markers li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left-width: 1px;
}
#floorplan-module ol.bjqs-markers li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right-width: 1px;
}

#floorplan-module ol.bjqs-markers li a:hover, #floorplan-module ol.bjqs-markers li.active-marker a {
    background-color: #524C4C;
}

/* Popup */

.popup .availability-bar {
    margin: 10px 0;
    width: 100%;
    height: 5px;
    border: 1px solid gray;
    border-radius: 3px;
}

.popup .availability-bar .availability-filler {
    background: green;
    height: 5px;
}
.popup input {
    margin: 10px auto 0px;
    font-size: 13px;
    padding: 5px 15px;
    display: block;
}