
h1 {
    margin-top: 80px;
    text-align: center;
}

.info-box #dorm-pic {
    width: 240px;
    float: left;
    border-radius: 3px;
    border: 1px solid #AAA;
}

.info-box #map {
    width: 240px;
    height: 260px;
    float: left;
    border: 1px solid #CCC;
    border-radius: 3px;
}

.info-box .detail-content {
    position: relative;
    overflow: hidden;
    margin-left: 20px;
    padding: 5px 20px;
}

.info-box .detail-content#hall-overview {
    font-size: 15px;
}

.info-box .detail-content#hall-overview p {
    margin: 5px 0;
}

.info-box h2 {
    margin: 0 0 10px 0;
}

.info-box p {
    margin: 0;
}

.info-box p#allowed-roommates {
    font-size: 15px;
    margin-top: 20px;
}

input#chosen-roommates {
    margin-top: 20px;
    font-size: 15px;
    width: 90%;
    padding: 7px;
    border-radius: 0px;
    border: 2px solid gray;
    
    outline: none;
}

input#chosen-roommates:focus {
    box-shadow: inset 0 0 2px gray;
    border: 2px solid #4444B6;
}

p#agreement {
    width: 500px;
    margin: 30px auto 10px;
    text-align: center;
}
p#agreement input[type=checkbox], p#agreement label {
    display: inline-block;
}


/* Autocomplete Boxes (jQuery UI) */
.ui-autocomplete {
    background: white;
    width: 350px;
    margin: 0;
    padding: 0;
    border: 1px solid #CCC;
}

.ui-autocomplete li {
    list-style: none;
}

.ui-autocomplete li a {
    padding: 2%;
    margin: 0;
    display: block;
    width: 96%;
}

.ui-menu-item a.ui-state-focus,
.ui-menu-item a.ui-state-active {
    font-weight: bold;
    background: #CCC;
}


.ui-helper-hidden-accessible {
    display: none;
}

input#register-room {
    display: block;
    margin: 20px auto;
}