<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<title>Hello Angular</title>
	<script src="angular.min.js"></script>

	<style>
		div {
			padding: 20px;
			margin: 20px;
			border: 1px solid gray;
		}
	</style>

	<script>
		
		//Intantiate the app
		var app = angular.module("myApp", []);

		app.run(function($rootScope) {
			$rootScope.name = "John Smith"; //all  $scopes inherit from $rootScope
		});

		//Decalare the controller MyController
		app.controller("MyController", function($scope) {
			$scope.details = {
				location: "USA",
				secret: "4854321894df5d22d"
			}
		});

		//Create a controller for an audio player
		app.controller('PlayerController', ['$scope', function($scope) {
			$scope.playing = false;
			$scope.audio = document.createElement('audio');
			$scope.audio.src = '/recordings/ryanfilmsongs/ILM%20Credits.mp3';

			//Functions for controlling the audio
			$scope.play = function() {
				$scope.audio.play();
				$scope.playing = true;
			};
			$scope.stop = function() {
				$scope.audio.pause();
				$scope.playing = false;
			};
			$scope.audio.addEventListener('ended', function() {
				$scope.$apply(function() {
					$scope.stop()
				});
			});
		}]);

		/** Better way to create the audio player - by creating audio and player services: **/
		app.factory('audio', ['$document', function($document) {
			var audio = $document[0].createElement('audio');
			return audio;
		}]);
		//Player service will hold the status of the player and functions to control it
		app.factory('player', ['audio', function(audio) {
			var player = {
				playing: false,
				current: null,
				ready: false,

				play: function(program) {
					// If we are playing, stop the current playback
					if (player.playing) player.stop();
					var url = "/recordings/ryanfilmsongs/ILM%20Credits.mp3";
					player.current = program; // Store the current program
					audio.src = url;
					audio.play(); // Start playback of the url
					player.playing = true
				},

				stop: function() {
					if (player.playing) {
						audio.pause(); // stop playback
						// Clear the state of the player
						player.ready = player.playing = false; 
						player.current = null;
					}
				}
			};
			return player;
		}]);
		app.controller('PlayerControllerTwo', ['$scope', 'player',
			function($scope, player) {
				$scope.player = player;
		}]);

		//Controller for the clock, which updates every second
		app.controller("ClockController", function($scope) {
			
			var updateClock = function() {
				$scope.clock = new Date();
			};

			var timer = setInterval(function() {
				$scope.$apply(updateClock);
			}, 1000);
			
			updateClock();
		});

		app.controller('CounterController', function($scope) {
			$scope.counter = 0;
			$scope.add = function(amount) { $scope.counter += amount; };
			$scope.subtract = function(amount) { $scope.counter -= amount; };
		});

		//Get JSON data from server
		app.controller("AJAXTestController", function($scope, $http) {
			$http({
				method: 'GET',
				url: "dummy-data.js"
			}).success(function(data, status) {
				$scope.results = data;
			}).error(function(data, status) {
				alert("Couldn't get JSON data via AJAX!");
			});
		});

	</script>

</head>
<body>

	<h1>AngularJS Demos</h1>
	<p>Below are many of the examples for the AngularJS tutorial available here: <a href="http://www.ng-newsletter.com/posts/beginner2expert-how_to_start.html">http://www.ng-newsletter.com/posts/beginner2expert-how_to_start.html</a></p>

	<p><a href="view-source:http://dev.davidofwatkins.com/demos/angular/">View the source</a> for more information</p>

	<div ng-controller="MyController">
		<p>Hello, {{name}}.</p>
		<p>You live in {{details.location}} and your secret is {{details.secret}}.</p>
	</div>

	<!-- Angular will create an <audio> tag from the following: -->
	<div ng-controller="PlayerControllerTwo">
		<button ng-click="player.play()" class="button" ng-show="!player.playing">Play</button>
		<button ng-click="player.stop()" class="button alert" ng-show="player.playing">Stop</button>
		Playing audio: <b>{{ player.playing }}</b>
	</div>

	<div ng-controller="MyController">
		<p>Update your name: <input type="text" ng-model="name" placeholder="Update your name..." /></p>
		<p>Hello, {{name}}</p>
	</div>

	<div ng-controller="ClockController">
		<p>The time is {{clock}}</p>
	</div>

	<div ng-controller="CounterController">
		<h4>The simplest adding machine ever</h4>
		<button ng-click="add(1)" class="button">Add</button>
		<button ng-click="subtract(1)" class="button">Subtract</button>
		<h4>Current count: {{counter}}</h4>
	</div>

	<div ng-controller="AJAXTestController">

		<p><code>Data from: <a href="http://dev.davidofwatkins.com/demos/angular/dummy-data.js">http://dev.davidofwatkins.com/demos/angular/dummy-data.js</a></code></p>

		<p>First title is: {{results[0].title}}</p>

		<p>Here are all results:</p>
		<div ng-repeat="result in results">
			
			<table>
				<tr><td>Title:</td><td>{{result.title}}</td></tr>
				<tr><td>Link:</td><td>{{result.url}}</td></tr>
				<tr><td>Description:</td><td>{{result.description}}</td></tr>
				<tr><td>Time:</td><td>{{result.time}}</td></tr>
				<tr><td>Author:</td><td>{{result.author}}</td></tr>
			</table>
		</div>
	</div>

	<p>For an example of AngularJS routing (pages), see here: <a href="http://dev.davidofwatkins.com/demos/angular/pages.html">http://dev.davidofwatkins.com/demos/angular/pages.html#/</a></p>
</body>
</html>