/* CSS Document */

* { margin: 0; padding: 0; }
body {
	background: #0e5981;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
#wrapper {
	width: 1024px;
	margin: 0 auto;
	overflow: hidden;
}
#header {
	height: 96px;
	border-bottom: 4px solid #fdf21a;
}
#sidebar {
	width: 130px;
	float: left;
	background: #030;
	/* Sidebar Hack */
	padding-bottom: 5000px;
	margin-bottom: -5000px;
}
	#sidebar .socialbutton {
		margin: 20px auto 10px auto;
		text-align: center;
	}
		.socialbutton iframe, .socialbutton a {
			display: block;
			margin: auto;
		}
	#sidebar .navbuttonwrapper {
		color: black;
		text-decoration: none;
	}
	#sidebar .navbutton {
		background: #0C0;
		width: 120px;
		line-height: 2em;
		margin: 10px auto;
		text-align: center;
	}
	#sidebar .navbutton:hover {
		background: #C60;
	}
#content {
	width: 834px;
	min-height: 300px;
	float: left;
	background: #FFF;
	padding: 15px 30px;
}
	#content h1 {
		font-family: "Cagliostro", Arial, Helvetica, sans-serif;
		font-size: 35px;
		text-align: center;
		margin: 20px;
		font-weight: normal;
	}
	#content ul {
		margin-left: 40px;
	}
	#content p {
		margin: 10px auto;
	}
#footer {
	background: #666;
	width: 1024px;
	margin: 0 auto 10px auto;
	text-align: center;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding: 1px;
}
	#footer a {
		text-decoration: none;
		color: #333;
	}
	#footer a:hover {
		color: #000;
	}
#wrapper, #footer {
	box-shadow: 0 0 50px black;
}